
.openedOption {
  position: absolute;
  height: 100%;
  top: 0;
  right: 1.8rem; /* Make sure it appears on top */
  background-color: #2c2c2c; /* Dark background for night mode */
  color: #ffffff; /* White text */
  border-radius: 0.2rem;/* Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Subtle shadow */
  z-index: 1000; /* Ensure it appears above other elements */
   /* Padding for spacing */
  width: 30%;; /* Minimum width */
}

.openedOption div {
  padding: 10px 15px; /* Space around each option */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition */
}

.openedOption div:hover {
  background-color: #3a3a3a; /* Slightly lighter on hover */
  transform: translateY(-2px);
  border-radius: 0.5rem; /* Lift effect on hover */
}