*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    font-family: "Roboto", sans-serif;
}

